/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

/* # UTILITY */

.debug * {
  min-height: 100px;
  padding: 5px;
  background-color: #ff000022;
  border: 2px dashed red;
}

.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.container.container-xs {
  max-width: 800px;
}
.row {
  display: flex;
}

.col-60 {
  width: 60%;
  padding: 40px;
}

.col-40 {
  width: 40%;
}

.col-30 {
  width: 30%;
}
.col-70 {
  width: 70%;
}

.col-25 {
  width: 25%;
}

h1 {
  font-size: 2.7rem;
}

.btn {
  display: inline-block;
  border-radius: 30px;
  text-decoration: none;
  color: white;
}
.btn.btn-small {
  font-size: 14px;
  padding: 12px;
}
.btn.btn-white {
  color: black;
  background-color: white;
}

.btn.btn-big {
  font-size: 20px;
  padding: 15px 20px;
  margin-top: 10px;
}

.btn.btn-dark {
  color: white;
  background-color: #23272a;
  margin-left: 20px;
}

.main-h2 {
  font-size: 40px;
  margin: 30px 0;
}

.main-p {
  line-height: 150%;
}
.btn.btn-blu {
  background-color: #7289da;
}

/* # HEADER */

.header-top .row * {
  flex-grow: 1;

  padding: 12px;
}
.page-header {
  background-color: #255ee9;
  padding-bottom: 3px;
}

.header-top {
  padding: 18px 0;
}

.header-top .link {
  text-align: center;
}
.header-top .login {
  text-align: right;
  margin-left: 20px;
}

.header-bottom {
  padding: 70px 0;
  background-image: url(../img/jumbo.png);
  background-position: center;
  background-size: cover;
}

.header-bottom .hero {
  min-height: 300px;

  text-align: center;
  line-height: 25px;
  color: white;
}
.header-bottom .hero p {
  margin-top: 50px;
}

.link .menu-links a {
  color: white;
}

.link .menu-links li {
  display: inline-block;
}

/* # MAIN */

.page-content > section {
  padding: 50px 0;
}
.page-content > section:nth-child(odd) {
  background-color: white;
}
.page-content > section:nth-child(even) {
  background-color: #f6f6f6;
}

.page-content > section:nth-child(even) .row {
  flex-direction: row-reverse;
}

.page-content .large-content {
  min-height: 700px;
}
.large-content .large-h2 {
  font-size: 40px;
  text-align: center;
  margin: 30px 0;
}
.large-content .large-p {
  line-height: 150%;
  text-align: center;
  margin: 20px 10px;
}
.large-content .large-img {
  padding: 20px 100px;
}

.large-content .star-title {
  text-align: center;
  font-size: 25px;
  background-image: url(../img/stars.svg);
  padding: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  margin: 0 auto;
}

/* # FOOTER */

.page-footer {
  background-color: #23272a;
  padding-top: 0.5rem;
  color: white;
}

.page-footer .col-30,
.page-footer .col-70,
.page-footer .col-25 {
  min-height: 400px;
}

.footer-top {
  padding-bottom: 40px;
  margin-bottom: 30px;
}
.footer-bottom {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
}
.footer-bottom * {
  padding: 0.5rem 1rem;
}

.page-footer h3 {
  padding-top: 10px;
  font-size: 30px;
  color: #7389d9;
}
.footer-top {
  display: flex;
  align-items: center;
  padding-top: 20px;
}
.footer-top img {
  width: 20px;
  margin-right: 5px;
}
.icon i {
  display: inline-block;
  padding-left: 8px;
}
.page-footer h4 {
  color: #7389d9;
  padding-top: 20px;
}

.page-footer .menu-links a {
  color: white;
  line-height: 35px;
}
